#s1 * {
    margin: 0;
}


#s1 header {
    background-color: antiquewhite;
}

#s1 {
    border: 1px solid black ;
}

.bonito {
    border: 5px groove gray;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

aside.bonito {
    background-color: greenyellow;
}


#s2 [lang] {
    background-color: gray;
}

#s2 [lang="es"] {
    border: 7px solid green;
    background-color: red;
    color: white;
}

#s2 [href*="you"]{
    background-color: red;
}

#s2 [href ^= "#"] {
    background-color: blue;
}

#s2 [href $="mx"] {
    border: 3px solid black;
}

#s1, #s3, #s2 footer {
    border-bottom: 5px double greenyellow;
}

#s3 h2 {
    color: blueviolet;

}